/* UNIVERSAL VARIABLES START */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&family=Merriweather:wght@300;400;700&family=Overpass:wght@300;400;700&display=swap');

/* UNIVERSAL VARIABLES END */
:root {
    /* Main Fonts */
    --font-maven: 'Maven Pro', sans-serif;
    --font-merriweather: 'Merriweather', serif;
    --font-overpass: 'Overpass', sans-serif;

    /* Main Colors */
    --page-bg: #F9F9F9;
    --page-bg-darker: #dfdfdf;
    --page-main-color: #2E8B57;
    --page-main-color-darker: #246e44;
    --main-button-color: #118DDA;
    --main-button-color-darker: #0f77b8;
    --cancel-button-color: #A8A8A8;
    --red-button-color: #FF0000;
    --red-button-color-darker: #cf0000;
}
/* UNIVERSAL STYLING START */
    body {
        margin: 0;
        background-color: var(--page-bg);
    }

    html,
    body {
        height: 100%;
    }

    .show {
        display: block;
    }
    
    .no-show {
        display: none;
    }

    /* NAVBAR STYLING START */
    .navbar-container {
        padding: 15px 25px 15px 25px;
        display: grid;
        grid-template-columns: 33% 67%;
        width: auto;
        border-bottom: 1px solid black;
    }

    .navbar-link {
        text-decoration: none;
    }

    .navbar-links-container {
        float: right;
        display: inline-flex;
        justify-content: end;
        align-items: center;
    }

    .navbar-logo-link {
        text-decoration: none;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }

    .navbar-logo-container {
        display: inline-flex;
    }

    .NextRoute-Logo-Text {
        color: var(--page-main-color);
        font-family: var(--font-maven);
        font-weight: bold;
        font-size: clamp(16px, 2.5vw, 20px);
        margin: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 100%;
    }

    .navbar-logo-image {
        height: 75px;
        width: auto;
        position: absolute;
        top: -6px;
        left: 128px;
    }
    
    .navbar-button {
        text-align: center;
        border: 3px solid black;
        margin-left: 35px;
        height: 40px;
        width: clamp(112px, 17.6vw, 144px);
        font-size: clamp(14px, 2.2vw, 18px);
        line-height: 40px;
        border-radius: 10px;
        font-family: var(--font-maven);
        font-weight: bold;
    }

    .green-button {
        background-color: var(--page-main-color);
        color: var(--page-bg);
        border-color: var(--page-main-color);
    }

    .green-button:hover {
        background-color: var(--page-main-color-darker);
        border-color: var(--page-main-color-darker);
    }

    .white-button {
        background-color: var(--page-bg);
        color: var(--page-main-color);
        border-color: var(--page-main-color);
    }

    .white-button:hover {
        background-color: var(--page-bg-darker);
    }

    @media only screen and (max-width: 800px) {
        .navbar-logo-image {
            height: 9.5vw;
            width: auto;
            position: absolute;
            left: 16.3vw;
            top: -7px;
        }
    }
    /* NAVBAR STYLING END */

    /* FOOTER STYLING START */
    .footer-container {
        background-color: black;
        color: var(--page-bg);
        text-align: center;
        font-family: var(--font-merriweather);
        font-size: 13px;
        width: 100%;
    }

    .footer-line {
        width: 90%;
    }

    .footer-app-name {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0;
        height: 100%;
        padding-top: 18px;
    }

    .footer-trademark-text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        height: 100%;
        padding-bottom: 18px;
    }
    /* FOOTER STYLING END */

    /* POPUP FORM STYLING START */
    .form-popup-container {
        /* position: absolute; */
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 100;
    }

    .form-popup {
        margin: 0 auto;
        background-color: var(--page-bg);
        width: clamp(350px, 40%, 400px);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px 10px 10px 10px;
        text-align: center;
    }

    .second-form {
        width: clamp(350px, 100%, 400px);
    }

    .form-header-second-form {
        margin-bottom: 25px;
    }

    .update-profile-form {
        height: 47%;
    }

    .new-review-form {
        height: 47%;
    }
    
    .update-review-form {
        height: 47%;
    }

    .delete-review-form {
        height: 38%;
    }

    .form-header {
        background-color: var(--page-main-color);
        color: var(--page-bg);
        text-align: center;
        height: 60px;
        font-weight: bold;
        font-family: var(--font-maven);
        font-size: clamp(20px, 4vw, 24px);
        line-height: 60px;
        border-radius: 10px 10px 0 0;
    }

    .form {
        display: inline-block;
        margin-top: 25px;
    }

    .form-input {
        margin-bottom: 15px;
        width: 250px;
    }

    .form-label {
        margin-bottom: 7px;
        display: inline-block;
        width: 250px;
        text-align: left;
        font-family: var(--font-maven);
        font-weight: bold;
    }

    .password-message {
        margin: 0 0 10px 0;
        color: red;
    }

    .form-buttons-container {
        width: 250px;
        margin-top: 20px;
        padding-bottom: 30px;
    }

    .cancel-button {
        display: inline-block;
        float: left;
        height: 30px;
        width: 110px;
        background-color: var(--cancel-button-color);
        font-family: var(--font-maven);
        font-size: clamp(12px, 4vw, 16px);
        font-weight: bold;
        line-height: 30px;
        border-radius: 5px;
        color: var(--page-bg);
    }

    .submit-button {
        float: right;
        margin-right: -7px;
        font-family: var(--font-maven);
        font-size: clamp(12px, 4vw, 16px);
        font-weight: bold;
        height: 30px;
        width: 110px;
        border-radius: 5px;
        background-color: var(--main-button-color);
        border: none;
        color: var(--page-bg);
    }

    .submit-button:hover {
        background-color: var(--main-button-color-darker);
    }

    .delete-form-red-circle {
        border: 4px solid var(--red-button-color);
        border-radius: 50%;
        height: 100px;
        width: 100px;
        font-size: 60px;
        line-height: 100px;
        color: var(--red-button-color);
        margin: 30px auto 0 auto;
    }

    .delete-review-header {
        font-family: var(--font-maven);
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 0;
    }

    .delete-review-text {
        font-family: var(--font-maven);
        font-size: 1.1;
        color: rgb(39, 39, 39);
        margin-top: 1px;
    }

    .cancel-delete-review-button {
        display: inline-block;
        float: left;
        margin: 0 auto;
        height: 30px;
        width: 110px;
        background-color: var(--cancel-button-color);
        font-family: var(--font-maven);
        font-size: clamp(12px, 4vw, 16px);
        font-weight: bold;
        line-height: 30px;
        border-radius: 5px;
        color: var(--page-bg);
    }

    .submit-review-delete-button {
        float: right;
        font-family: var(--font-maven);
        font-size: clamp(12px, 4vw, 16px);
        font-weight: bold;
        height: 30px;
        width: 110px;
        border-radius: 5px;
        background-color: var(--red-button-color);
        border: none;
        color: var(--page-bg);
        line-height: 30px;
    }

    .submit-review-delete-button:hover {
        background-color: var(--red-button-color-darker);
    }
    
    .delete-button-container {
        margin: 30px auto 0 auto;
    }
    /* POPUP FORM STYLING END */

    /* BACKGROUND IMAGE STYLING START */
    .page-background-image {
        height: 82.1vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
        filter: brightness(60%);
    }
    /* BACKGROUND IMAGE STYLING END */
/* UNIVERSAL STYLING END */

/* SIGNUP PAGE STYLING START */
.signup-form {
    height: 43%;
}
/* SIGNUP PAGE STYLING END */

/* LOGIN PAGE STYLING START */
.login-form {
    height: 38%;
}

.login-button {
    margin-top: 10px;
    font-family: var(--font-maven);
    font-size: clamp(16px, 4vw, 20px);
    font-weight: bold;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    background-color: var(--main-button-color);
    border: none;
    color: var(--page-bg);
}

.login-button:hover {
    background-color: var(--main-button-color-darker);
}
/* LOGIN PAGE STYLING END */

/* SPLASH PAGE STYLING START */
.about-section-container {
    display: inline-flex;
    justify-content: space-evenly;
    padding: clamp(25px, 6vw, 50px) clamp(25px, 5%, 50px);
    width: 90%;
    margin-bottom: 10px;
    animation: appear 2s linear 1;
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.about-section-item {
    width: 26%;
    height: 100%;
}

.about-section-item-header {
    color: var(--page-main-color);
    font-family: var(--font-maven);
    font-weight: bold;
    font-size: clamp(20px, 3vw, 40px);
    margin: 10px 0;
    letter-spacing: 3px;
}

.about-section-item-text {
    font-family: var(--font-overpass);
    line-height: 30px;
    font-size: 18px;
}
/* SPLASH PAGE STYLING END */

/* PROFILE PAGE STYLING START */
.profile-page-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 34% 66%;
    margin-top: clamp(30px, 5vw, 60px);
    /* margin-bottom: clamp(30px, 20vw, 200px); */
    margin-left: clamp(35px, 10vw, 200px);
    margin-right: clamp(35px, 10vw, 200px);
    min-height: 79vh;
    position: relative;
}

.profile-page-card-container {
    grid-area: 1 / 1 / span 2 / 1;
    border: 1px solid #777777;
    box-shadow: 2px 2px 2px rgba(58, 58, 58, .5);
    height: 450px;
}

.profile-page-image-container {
    text-align: center;
}

.profile-user-image {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-top: 30px;
    object-fit: cover;
}

.profile-page-routes-reviews-top-section {
    grid-area: 1 / 2 / 1 / 2;
    display: inline-block;
    margin-top: 7px;
}

.profile-page-route-review-num {
    display: inline-flex;
    margin-top: 0;
    font-family: var(--font-merriweather);
    font-weight: bold;
    font-size: clamp(20px, 4vw, 24px);
}

.profile-page-num-results {
    margin-top: 0;
}

.profile-route-review-slider {
    float: right;
    border: 2px solid var(--page-main-color);
    height: 49px;
    border-radius: 10px;
    display: inline-flex;
    border: 2px solid var(--page-main-color);
    overflow: hidden;
}

.profile-slider-text {
    font-family: var(--font-overpass);
    font-weight: bold;
    font-size: clamp(14px, 6vw, 20px);
    line-height: 45px;
}

.profile-slider-green-option {
    background-color: var(--page-main-color);
    color: var(--page-bg);
    width: 100%;
    padding: 5px 20px;
    border-radius: 2px 0 0 2px;
}

.profile-slider-white-option {
    color: var(--page-main-color);
    background-color: var(--page-bg);
    width: 100%;
    padding: 5px 20px;
    border-radius: 0 2px 2px 0;
}

.profile-username-text {
    text-align: center;
    font-family: var(--font-merriweather);
    font-weight: bold;
    font-size: clamp(20px, 4vw, 25px); 
}

.edit_profile_button {
    text-align: center;
    margin: 15px auto -2px auto;
    font-family: var(--font-maven);
    font-weight: bold;
    font-size: clamp(15px, 4vw, 18px);
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: var(--main-button-color);
    color: var(--page-bg);
    border-radius: 5px;
}

.edit_profile_button:hover {
    background-color: var(--main-button-color-darker);
}

.profile-page-card-divider {
    border-top: 1px solid var(--page-main-color);
    margin: 30px 30px 15px 30px;
}

.profile-page-card-info {
    margin: 0 30px 30px 30px;
}

.profile-page-individual-info {
    margin-top: 15px;
    font-family: var(--font-maven);
    font-weight: bold;
}

.profile-page-card-text-title {
    color: #777777
}

.profile-page-card-text {
    color: var(--page-main-color);
    text-align: right;
    float: right;
}

.user_routes {
    grid-area: 1 / 2 / 1 / 2;
    margin-top: 90px;
}

.user_reviews {
    grid-area: 1 / 2 / 1 / 2;
    margin-top: 90px;
}
/* PROFILE PAGE STYLING END */

/* SEARCH PAGE STYLING START */
.search-form-container {
    position: relative;
}

.search-image {
    width: 100%;
    height: clamp(400px, 30vw, 700px);
    object-fit: cover;
    filter: brightness(55%);
}

.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    color: white;
}

.route-search-label {
    display: inline-block;
    margin-bottom: 5px;
    font-family: var(--font-maven);
    font-weight: bold;
    font-size: clamp(12px, 1.5vw, 17px);
}

.search-location-input {
    width: clamp(150px, 24vw, 300px);
    font-size: 18px;
}

.search-min-diff-input {
    width: clamp(120px, 17vw, 200px);
    font-size: 20px;
    text-align: center;
}

.search-max-diff-input {
    width: clamp(120px, 17vw, 200px);
    font-size: 20px;
    text-align: center;
}

.search-pitch-input {
    width: clamp(120px, 17vw, 200px);
    font-size: 20px;
    text-align: center;
}

.submit-search-button {
    height: 24px;
    margin-top: 26px;
    background-color: var(--main-button-color);
    color: var(--page-bg);
    border: none;
    width: 13vw;
    margin-left: 20px;
    font-family: var(--font-maven);
    font-weight: bold;
    font-size: 1.2em;
    line-height: 24px;
    border-radius: 5px;
}

.submit-search-button:hover {
    background-color: var(--main-button-color-darker);
}

.route-results-container {
    margin: 45px auto 25vw auto;
    width: clamp(500px, 50%, 50%);
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 193px;
}

.route-results-header {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 35px;
    width: 100%;
}

.results-sort-by-container {
    display: inline-flex;
    justify-self: end;
}

.route-results-header-text {
    margin: 0;
    font-size: clamp(20px, 2vw, 25px);
}

.sort-by-text {
    height: clamp(30px, 2vw, 35px);
    width: clamp(90px, 2vw, 120px);
    line-height: clamp(30px, 2vw, 35px);
    font-family: var(--font-overpass);
    text-align: center;
}

.route-results-button {
    height: clamp(30px, 2.5vw, 40px);
    width: clamp(90px, 2vw, 120px);
    font-size: clamp(14px, 2vw, 16px);
    background-color: var(--main-button-color);
    color: var(--page-bg);
    text-align: center;
    line-height: clamp(30px, 2vw, 35px);
    font-weight: bold;
    font-family: var(--font-overpass);
    border-radius: 5px;
    display: inline-block;
}

.individual-route-card-container {
    border: 1px solid #969696;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 30px;
}

.route-card-information-container {
    margin-left: 18px;
    margin-right: 30px;
}

.route-card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.route-card-name {
    margin-top: 18px;
    font-size: clamp(20px, 2vw, 25px);
    font-family: var(--font-merriweather);
    margin-bottom: 3px;
}

.route-card-review-container {
    margin-bottom: 16px;
}

.route-card-reviews-text {
    margin: 0;
    font-family: var(--font-merriweather);
    font-size: clamp(13px, 1.5vw, 16px);
}

.posted_time {
    margin-top: 0;
    font-family: var(--font-merriweather);
    color: #5C5C5C;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.route-card-location-view {
    display: grid;
    width: 100%;
    grid-template-columns: 66% 34%;
}

.route-card-location-text {
    font-family: var(--font-merriweather);
    color: #5C5C5C;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}

.view-route-button-link {
    justify-self: end;
    text-decoration: none;
}

.view-route-button {
    height: 22px;
    background-color: var(--page-main-color);
    line-height: 22px;
    width: 100px;
    font-size: 0.75em;
    font-weight: bold;
    color: var(--page-bg);
    text-align: center;
}

.view-route-button:hover {
    background-color: var(--page-main-color-darker);
}

.route-card-misc-info {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.route-card-misc-info-text {
    font-size: 0.85em;
    font-family: var(--font-merriweather);
}

.add-route-link-container {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: var(--page-main-color);
    color: var(--page-bg);
    display: inline-flex;
    justify-content: center;
    font-family: var(--font-maven);
    height: 60px;
    line-height: 60px;
}

.add-route-link-text {
    margin: 0;
    font-size: 1.2em;
}

.route-page-create-route-button {
    height: 30px;
    width: 160px;
    background-color: var(--main-button-color);
    text-align: center;
    line-height: 30px;
    margin: 0 0 0 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 1.1em;
    color: var(--page-bg);
    border-radius: 5px;
    border: 1px solid #0f7abd;
}

.route-page-create-route-button:hover {
    background-color: var(--main-button-color-darker);
}
/* SEARCH PAGE STYLING END */

/* EDIT ROUTE PAGE STYLING START */
/* EDIT ROUTE PAGE STYLING END */

/* CREATE ROUTE PAGE STYLING START */
.route-form {
    height: 38%;
}

.form-part-2 {
    margin-top: 5px;
}

.second-form-half {
    height: 50%;
}

.continue-button {
    margin: 10px auto 0 auto;
    font-family: var(--font-maven);
    font-size: clamp(16px, 4vw, 20px);
    font-weight: bold;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    background-color: var(--main-button-color);
    border: none;
    color: var(--page-bg);
    line-height: 35px;
}

.continue-button:hover {
    background-color: var(--main-button-color-darker);
}
/* CREATE ROUTE PAGE STYLING END */

/* ROUTE PAGE STYLING START */
.route-page-container {
    width: clamp(20px, 80%, 1200px);
    margin: 80px auto;
    border: 1px solid rgb(148, 148, 148);
}

.route-page-image-container {
    position: relative;
    margin-bottom: -4px;
}

.route-page-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.route-page-image-header {
    color: var(--page-bg);
    position: absolute;
    display: inline-block;
    z-index: 2;
    bottom: clamp(30px, 3vw, 50px);
    left: clamp(15px, 4.5vw, 50px);
    animation: appear 1.5s linear 1;
}

.route-page-route-name {
    margin: 0;
    font-size: clamp(25px, 3vw, 35px);
    font-family: var(--font-merriweather);
    letter-spacing: 4px;
}

.route-page-route-username {
    margin: 0;
    font-size: clamp(10px, 2vw, 20px);
    font-family: var(--font-maven);
    letter-spacing: 3px;
}

.route-details-description-container {
    display: grid;
    grid-template-columns: 35% 65%;
}

.route-details-section {
    border-right: 0.5px solid var(--page-main-color);
}

.route-details-description-review-header {
    padding: 15px 0 15px 20px;
    font-family: var(--font-merriweather);
    font-weight: bold;
    font-size: clamp(15px, 3vw, 20px);
    background-color: var(--page-main-color);
    color: var(--page-bg)
}

.route-details-text-container {
    padding-left: 20px;
    padding-right: 10px;
    font-size: clamp(10px, 5vw, 17px);
    font-family: var(--font-maven);
}

.route-details-text {
    margin-top: 13px;
}

.route-details-text-logged-out {
    margin-bottom: 25px;
}

.edit-route-button-link {
    text-decoration: none;
}

.edit-route-button {
    background-color: var(--main-button-color);
    color: var(--page-bg);
    font-family: var(--font-maven);
    height: 30px;
    width: 120px;
    font-size: clamp(10px, 5vw, 15px);
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 25px;
}

.edit-route-button:hover {
    background-color: var(--main-button-color-darker);
}

.route-description-section {
    border-left: 0.5px solid var(--page-main-color);
}

.route-description-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    margin-top: 13px;
    font-family: var(--font-merriweather);
    font-size: clamp(10px, 4vw, 14px);
    word-spacing: 1.5px;
    line-height: 28px;
}

.route-reviews-button-score-container {
    padding: 30px 50px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.review-stars-container {
    display: flex;
}

.review-stars {
    height: 70px;
    width: 300px;
    object-fit: cover;
    margin-top: -5px;
    display: inline-block;
}

.average-review-score {
    margin-top: 25px;
    font-size: 1.2em;
    font-family: var(--font-maven);
}

.review-button {
    height: 35px;
    width: 150px;
    text-align: center;
    line-height: 35px;
    font-family: var(--font-maven);
    font-weight: bold;
    color: var(--page-bg);
    border-radius: 5px;
    font-size: 1.1rem;
    justify-self: end;
}

.review-button-colored {
    background-color: var(--main-button-color);
}

.review-button-colored:hover {
    background-color: var(--main-button-color-darker);
}

.review-button-gray {
    background-color: var(--cancel-button-color);
}

.review-button-options {
    font-family: var(--font-maven);
    font-weight: bold;
    font-size: 12px;
    display: flex;
    color: rgb(107, 107, 107);
    height: 25px;
}

.edit-review-button {
    margin-right: 10px;
}

.edit-review-button:hover {
    text-decoration: underline;
}

.delete-review-button:hover {
    text-decoration: underline;
}

.individual-review {
    margin: 25px 20px 0px 20px;
    border-top: 0.5px solid var(--page-main-color);
}

.review-top-section {
    margin-top: 25px;
    display: inline-flex;
}

.review-user-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.review-top-section-information {
    margin-left: 20px;
}

.review-username {
    margin: 0 0 7px 0;
    font-size: clamp(15px, 2vw, 18px);
    font-family: var(--font-maven);
    font-weight: bold;
}

.review-top-section-rating-posted {
    display: inline-flex;
}

.individual-review-rating {
    height: 30px;
    width: 120px;
    object-fit: cover;
    margin-left: -6px;
    margin-top: -5px;
}

.review-posted-time {
    margin-left: 20px;
    font-size: clamp(12px, 2vw, 15px);
    word-spacing: -4px;
    color: #666666;
    font-weight: bold;
}

.review-content {
    margin-top: 15px;
    font-family: var(--font-overpass);
    font-size: clamp(14px, 3vw, 15px);
    font-weight: 500;
}

.review-line-break {
    border-top: 1px solid var(--page-main-color);
    width: calc(100% - 40px);
    margin-top: 25px;
}
/* ROUTE PAGE STYLING END */