{% extends 'base.html' %}
{% load static %} 
{% block content %}
<img class="page-background-image" src="{% static 'images/login-page.jpg' %}">
  <div class="form-popup login-form">
    <div class="form-header">Login</div>
    <form method="post" action="{% url 'login' %}" class="form">
      {% csrf_token %}
      <label for="username" class="form-label">Username</label>
      <br>
      <input class="form-input" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
      <br>
      <label for="password" class="form-label">Password</label>
      <br>
      <input class="form-input" type="password" name="password" autocomplete="current-password" required id="id_password" minlength="8">
      <br>
      <input type="submit" class="btn login-button" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</img>
{% endblock %}