{% extends 'base.html' %}
{% load static %}
{% block title %} Join Next Route {% endblock %}
{% block content %}
<img class="page-background-image" src="{% static 'images/signup-page.jpg' %}">
<div class="form-popup signup-form">
  <div class="form-header">Signup</div>
  <form method="post" action="{% url 'signup' %}" class="form">
    {% csrf_token %}
    <!-- NEW FORM -->
    <label for="id_username" class="form-label">Username</label>
    <br>
    <input class="form-input" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
    <br>
    <label for="id_location" class="form-label">Location</label>
    <br>
    <input type="text" name="location" maxlength="100" required id="id_location" class="form-input">
    <br>
    <label for="id_password1" class="form-label">Password</label>
    <br>
    <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-input" minlength="8">
    <br>
    <label for="id_password2" class="form-label">Password Confirmation</label>
    <br>
    <input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-input" minlength="8">
    <br>
    <!-- NEW FORM -->
    <input type="submit" class="btn login-button" value="Sign Up" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}