{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{user_profile.username}}'s Profile Page {% endblock %}
{% block content %}
    <div class="profile-page-container">
        <!-- Profile Card -->
        <div class="profile-page-card-container">
            <div class="profile-page-image-container">
                {% if user_profile.url != "False" %}
                    <img src="{{ user_profile.url }}" alt="" class="profile-user-image">
                {% else %}
                    <img src="{% static 'images/blank-profile-pic.jpg' %}" alt="" class="profile-user-image">
                {% endif %}  
            </div>
            <div class="profile-username-text">{{ user_profile.username }}</div>
            {% if user.is_authenticated and user.username == user_profile.username %}
                <div class="edit_profile_button">Edit Profile</div>
            {% endif %}
            <hr class="profile-page-card-divider">
            <div class="profile-page-card-info">
                <div class="profile-page-individual-info">
                    <span class="profile-page-card-text-title">Location:</span>
                    <span class="profile-page-card-text">{{ user.location }}</span>
                </div>
                <div class="profile-page-individual-info">
                    <span class="profile-page-card-text-title">Member Since:</span>
                    <span class="profile-page-card-text">{{ user.date_joined|naturalday }}</span>
                </div>
                <div class="profile-page-individual-info">
                    <span class="profile-page-card-text-title">Routes Posted:</span>
                    <span class="profile-page-card-text">{{ routes.count }}</span>
                </div>
                <div class="profile-page-individual-info">
                    <span class="profile-page-card-text-title">Reviews Posted:</span>
                    <span class="profile-page-card-text">{{ reviews.count }}</span>
                </div>
            </div>
        </div>
        <!-- PROFILE REVIEW/ROUTES SECTION -->
        <div class="profile-page-routes-reviews-top-section">
            <h4 class="profile-page-route-review-num">
                <p class="user_routes_header show profile-page-num-results">{{ routes.count }} Route(s) from {{user_profile.username}}</p>
                <p class="user_reviews_header no-show profile-page-num-results">{{ reviews.count }} Review(s) from {{user_profile.username}}</p>
            </h4>
            <div class="profile-route-review-slider">
                <div class="user_routes_button profile-slider-text profile-slider-green-option">Routes</div>
                <div class="user_reviews_button profile-slider-text profile-slider-white-option">Reviews</div>
            </div>
        </div>
        <div class="user_routes show">
            {% for route in routes %}
                <div class="individual-route-card-container route-num-{{ forloop.counter }}">
                    <div class="route-card-information-container">
                        <h3 class="route-card-name">{{ route.name }}</h3>
                        <div class="route-card-review-container">
                            <p class="route-card-reviews-text">{{ route.review.count }} Reviews</p>
                        </div>
                        <p class="posted_time">Posted: {{ route.created_at|naturaltime }}</p>
                        <div class="route-card-location-view">
                            <p class="route-card-location-text">Located: {{ route.location }}</p>
                            <a href="{% url 'route_page' route.pk %}" class="view-route-button-link"><div class="view-route-button">View Route</div></a>
                        </div>
                        <div class="route-card-misc-info">
                            <p class="route-card-misc-info-text">Difficulty: <b>{{ route.difficulty }}</b></p>
                            <p class="route-card-misc-info-text">Pitches: <b>{{ route.pitch }}</b></p>
                            <p class="route-card-misc-info-text">Type: <b>{{ route.climb_type }}</b></p>
                        </div>
                    </div>
                    {% if route.url != "False" %}
                        <img src="{{ route.url }}" alt="" class="route-card-image">
                    {% else %}
                        <img src="{% static 'images/route-image.jpg' %}" alt="" class="route-card-image">
                    {% endif %}
                </div>
            {% empty %}
                <p>No Routes Yet from {{ user_profile.username }}</p>
            {% endfor %}
        </div>
        <!-- USER REVIEW SECTION -->
        <div class="user_reviews no-show">
            {% for review in reviews %}
                <div class="individual-review review-num-{{ forloop.counter }}">
                    <div class="review-top-section">
                        {% if review.user.url != "False" %}
                            <img src="{{ review.user.url }}" alt="" class="review-user-image">
                        {% else %}
                            <img src="{% static 'images/blank-profile-pic.jpg' %}" alt="" class="review-user-image">
                        {% endif %}
                        <div class="review-top-section-information">
                            <h5 class="review-username">{{ review.route.name }}</h5>
                            <div class="review-top-section-rating-posted">
                                {% if review_score < 2 %}
                                    <img src="{% static 'images/star-folder/one-star.png' %}" alt="" class="individual-review-rating">
                                {% elif review_score < 3 %}
                                    <img src="{% static 'images/star-folder/two-star.png' %}" alt="" class="individual-review-rating">
                                {% elif review_score < 4 %}
                                    <img src="{% static 'images/star-folder/three-star.png' %}" alt="" class="individual-review-rating">
                                {% elif review_score < 5 %}
                                    <img src="{% static 'images/star-folder/four-star.png' %}" alt="" class="individual-review-rating">
                                {% else %}
                                    <img src="{% static 'images/star-folder/five-star.png' %}" alt="" class="individual-review-rating">
                                {% endif %}
                                <div class="review-posted-time">Posted {{ review.posted_at|naturaltime }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="review-content">{{ review.content }}</div>
                    <div class="review-button-options">
                        {% if user.is_authenticated and review.user.username == user.username %}
                            <p class="edit-review-button">Edit Review</p>
                            <p class="delete-review-button">Delete Review</p>
                        {% endif %}
                    </div>
                </div>
                <!-- EDIT REVIEW FORM -->
                {% if user.is_authenticated and review.user.username == user.username %}
                <div class="edit-review-form no-show form-popup-container">
                    <div class="form-popup update-review-form">
                        <div class="form-header">Edit Review</div>
                        <form method="post" action="/profile/{{ user.pk }}/review/{{ review.pk }}/update/" class="form">
                            {% csrf_token %}
                            <label for="rating" class="form-label">Rating:</label>
                            <br>
                            <select id="rating" name="rating" class="form-input" required>

                                {% if review.rating == 1.0 %}
                                    <option value="1.0" selected>1.0</option>
                                {% else %}
                                    <option value="1.0">1.0</option>
                                {% endif %}

                                {% if review.rating == 2.0 %}
                                    <option value="2.0" selected>2.0</option>
                                {% else %}
                                    <option value="2.0">2.0</option>
                                {% endif %}

                                {% if review.rating == 3.0 %}
                                    <option value="3.0" selected>3.0</option>
                                {% else %}
                                    <option value="3.0">3.0</option>
                                {% endif %}

                                {% if review.rating == 4.0 %}
                                    <option value="4.0" selected>4.0</option>
                                {% else %}
                                    <option value="4.0">4.0</option>
                                {% endif %}

                                {% if review.rating == 5.0 %}
                                    <option value="5.0" selected>5.0</option>
                                {% else %}
                                    <option value="5.0">5.0</option>
                                {% endif %}
                            </select>
                            <br>
                            <label for="content"  class="form-label">Explain Why You Gave It That Score:</label>
                            <br>
                            <textarea maxlength="1250" rows="4" cols="20" id="content" name="content" class="form-input" required>{{ review.content }}</textarea>
                            <br>
                            <div class="form-buttons-container">
                                <div class="edit-review-cancel-button cancel-button">Cancel</div>
                                <input type="submit" class="submit-button">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            <!-- DELETE REVIEW FORM -->
            {% if user.is_authenticated and review.user.username == user.username %}
                <div class="delete-review-form-container no-show form-popup-container">
                    <div class="form-popup delete-review-form">
                        <div class="delete-form-red-circle">!</div>
                        <p class="delete-review-header">Delete Review?</p>
                        <p class="delete-review-text">This can't be undone</p>
                        <div class="form-buttons-container delete-button-container">
                            <div class="delete-review-cancel-button cancel-delete-review-button">Cancel</div>
                            <a href="/profile/{{ user.pk }}/review/{{ review.pk }}/delete/"><div class="submit-review-delete-button">Delete</div></a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% empty %}
                <p> No Reviews Yet from {{ user_profile.username }}</p>
            {% endfor %}
            <hr class="review-line-break">
        </div>
        
    </div>
    {% if user.is_authenticated and user.pk == user_profile.id %}
        <div class="edit_profile_container no-show form-popup-container">
            <div class="form-popup  update-profile-form">
                <div class="form-header">Update Profile</div>
                <form action="/accounts/{{ user_profile.id }}/edit/" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="location" class="form-label">Location</label>
                    <br>
                    <input type="text" name="location" id="location" class="form-input" maxlength="100">
                    <br>
                    <label for="password" class="form-label">Update Password</label>
                    <br>
                    <input type="password" name="password" id="password" class="password-required form-input" minlength="8">
                    <br>
                    <label for="password" class="form-label">Re-Enter New Password</label>
                    <br>
                    <input type="password" name="password_reenter" id="password_reenter" class="form-input" minlength="">
                    <br>
                    <p class="password-message no-show">Passwords must be matching</p>
                    <label for="image" class="form-label">Update Profile Image</label>
                    <br>
                    <input type="file" name="image" id="image" class="form-input">
                    <br>
                    <div class="form-buttons-container">
                        <div class="edit_profile_cancel_button cancel-button">Cancel</div>
                        <input type="submit" class="submit-button">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}