{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Next Route - {{ route.name }} {% endblock %}
{% block content %}
    <div class="route-page-container">
        <div class="route-information-container">
            <div class="route-page-image-container">
                {% if route.url != "False" %}
                    <img src="{{ route.url }}" alt="" class="route-page-image">
                {% else %}
                    <img src="https://www.rei.com/dam/rinckenberger_111815_1406_main_lg.jpg" alt="" class="route-page-image">
                {% endif %}
                <div class="route-page-image-header">
                    <h4 class="route-page-route-name">{{ route.name }}</h4>
                    <p class="route-page-route-username">Shared by {{ route.user.username }}</p>
                </div>
            </div>
            <div class="route-details-description-container">
                <div class="route-details-section">
                    <div class="route-details-description-review-header">Route Details:</div>
                    <div class="route-details-text-container">
                        <div class="route-details-text">Location: <b class="route-details-text-bold">{{ route.location }}</b></div>
                        <div class="route-details-text">Difficulty: <b class="route-details-text-bold">{{ route.difficulty }}</b></div>
                        <div class="route-details-text">Type of Climb: <b class="route-details-text-bold">{{ route.climb_type }}</b></div>
                        {% if user.is_authenticated and user.pk == route.user.pk %}
                            <div class="route-details-text">Pitches: <b class="route-details-text-bold">{{ route.pitch }}</b></div>
                            <a href="{% url 'route_update' route.pk %}" class="edit-route-button-link"><div class="route-details-text edit-route-button">Edit Route</div></a>
                        {% else %}
                            <div class="route-details-text route-details-text-logged-out">Pitches: <b>{{ route.pitch }}</b></div>
                        {% endif %}
                    </div>
                </div>
                <div class="route-description-section">
                    <div class="route-details-description-review-header">Description:</div>
                    <div class="route-description-text">{{ route.description }}</div>
                </div>
            </div>
        </div>
        <div class="route-review-container">
            <div class="route-details-description-review-header">Route Reviews:</div>
            <div class="route-reviews-button-score-container">
                <div class="review-stars-container">
                    <p class="average-review-score">{{ review_score }}</p>
                    {% if review_score <= 0 %}
                        <img src="{% static 'images/star-folder/no-star.png' %}" alt="" class="review-stars">
                    {% elif review_score < 1.25 %}
                        <img src="{% static 'images/star-folder/one-star.png' %}" alt="" class="review-stars">
                    {% elif review_score >= 1.25 and review_score < 1.75 %}
                        <img src="{% static 'images/star-folder/one-half-star.png' %}" alt="" class="review-stars">
                    {% elif review_score >= 1.75 and review_score < 2.25 %}
                        <img src="{% static 'images/star-folder/two-star.png' %}" alt="" class="review-stars">
                    {% elif review_score >= 2.25 and review_score < 2.75 %}
                        <img src="{% static 'images/star-folder/two-half-star.png' %}" alt="" class="review-stars">
                    {% elif review_score >= 2.75 and review_score < 3.25 %}
                        <img src="{% static 'images/star-folder/three-star.png' %}" alt="" class="review-stars">
                    {% elif review_score >= 3.25 and review_score < 3.75  %}
                        <img src="{% static 'images/star-folder/three-half-star.png' %}" alt="" class="review-stars">
                    {% elif review_score >= 3.75 and review_score < 4.25 %}
                        <img src="{% static 'images/star-folder/four-star.png' %}" alt="" class="review-stars">
                    {% elif review_score >= 4.25 and review_score < 4.75  %}
                        <img src="{% static 'images/star-folder/four-half-star.png' %}" alt="" class="review-stars">
                    {% else %}
                        <img src="{% static 'images/star-folder/five-star.png' %}" alt="" class="review-stars">
                    {% endif %}
                </div>
                {% if user.is_authenticated and user.pk != route.user.pk and not user_review %}
                    <span class="write-review-button review-button review-button-colored">Write a Review</span>
                {% elif user.is_authenticated and user.pk == route.user.pk or user_review %}
                    <span class="review-button review-button-gray">Write a Review</span>
                {% else %}
                    <a href="{% url 'signup' %}"><span class="review-button review-button-colored">Write a Review</span></a>
                {% endif %}
            </div>
            <div class="review-list-container">
                {% for review in reviews %}
                    <div class="individual-review">
                        <div class="review-top-section">
                            {% if review.user.url == "False" or review.user.url %}
                                <img src="{% static 'images/blank-profile-pic.jpg' %}" alt="" class="review-user-image">
                            {% else %}
                                <img src="{{ review.user.url }}" alt="" class="review-user-image">
                            {% endif %}
                            <div class="review-top-section-information">
                                <h5 class="review-username">{{ review.user.username }}</h5>
                                <div class="review-top-section-rating-posted">
                                    {% if review_score == 1.0 %}
                                        <img src="{% static 'images/star-folder/one-star.png' %}" alt="" class="individual-review-rating">
                                    {% elif review_score == 2.0 %}
                                        <img src="{% static 'images/star-folder/two-star.png' %}" alt="" class="individual-review-rating">
                                    {% elif review_score == 3.0 %}
                                        <img src="{% static 'images/star-folder/three-star.png' %}" alt="" class="individual-review-rating">
                                    {% elif review_score == 4.0 %}
                                        <img src="{% static 'images/star-folder/four-star.png' %}" alt="" class="individual-review-rating">
                                    {% else %}
                                        <img src="{% static 'images/star-folder/five-star.png' %}" alt="" class="individual-review-rating">
                                    {% endif %}
                                    <div class="review-posted-time">Posted {{ review.posted_at|naturaltime }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="review-content">{{ review.content }}</div>
                        <div class="review-button-options">
                            {% if user.is_authenticated and review.user.username == user.username %}
                                <p class="edit-review-button">Edit Review</p>
                                <p class="delete-review-button">Delete Review</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- EDIT REVIEW FORM -->
                    {% if user.is_authenticated and review.user.username == user.username %}
                        <div class="edit-review-form no-show form-popup-container">
                            <div class="form-popup update-review-form">
                                <div class="form-header">Edit Review</div>
                                <form method="post" action="/route/{{ route.pk }}/review/{{ review.pk }}/update/" class="form">
                                    {% csrf_token %}
                                    <label for="rating" class="form-label">Rating:</label>
                                    <br>
                                    <select id="rating" name="rating" class="form-input" required>

                                        {% if review.rating == 1.0 %}
                                            <option value="1.0" selected>1.0</option>
                                        {% else %}
                                            <option value="1.0">1.0</option>
                                        {% endif %}

                                        {% if review.rating == 2.0 %}
                                            <option value="2.0" selected>2.0</option>
                                        {% else %}
                                            <option value="2.0">2.0</option>
                                        {% endif %}

                                        {% if review.rating == 3.0 %}
                                            <option value="3.0" selected>3.0</option>
                                        {% else %}
                                            <option value="3.0">3.0</option>
                                        {% endif %}

                                        {% if review.rating == 4.0 %}
                                            <option value="4.0" selected>4.0</option>
                                        {% else %}
                                            <option value="4.0">4.0</option>
                                        {% endif %}

                                        {% if review.rating == 5.0 %}
                                            <option value="5.0" selected>5.0</option>
                                        {% else %}
                                            <option value="5.0">5.0</option>
                                        {% endif %}
                                    </select>
                                    <br>
                                    <label for="content"  class="form-label">Explain Why You Gave It That Score:</label>
                                    <br>
                                    <textarea maxlength="1250" rows="4" cols="20" id="content" name="content" class="form-input" required>{{ review.content }}</textarea>
                                    <br>
                                    <div class="form-buttons-container">
                                        <div class="edit-review-cancel-button cancel-button">Cancel</div>
                                        <input type="submit" class="submit-button">
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    {% if user.is_authenticated and review.user.username == user.username %}
                        <div class="delete-review-form-container no-show form-popup-container">
                            <div class="form-popup delete-review-form">
                                <div class="delete-form-red-circle">!</div>
                                <p class="delete-review-header">Delete Review?</p>
                                <p class="delete-review-text">This can't be undone</p>
                                <div class="form-buttons-container delete-button-container">
                                    <div class="delete-review-cancel-button cancel-delete-review-button">Cancel</div>
                                    <a href="{% url 'review_delete' route.pk review.pk %}"><div class="submit-review-delete-button">Delete</div></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}
            </div>
            <hr class="review-line-break">
        </div>
    </div>
    <!-- THIS IS NEW REVIEW FORM -->
    {% if user.is_authenticated and route.user.pk != user.pk and not user_review %}
        <div class="route-review-form-container no-show form-popup-container">
            <div class="form-popup new-review-form">
                <div class="form-header">Write Review</div>
                <form method="post" action="/route/{{ route.pk }}/review/new/" class="form">
                    {% csrf_token %}
                    <label for="rating" class="form-label">Rating:</label>
                    <br>
                    <select id="rating" name="rating" class="form-input" required>
                        <option value="1.0">1.0</option>
                        <option value="2.0">2.0</option>
                        <option value="3.0">3.0</option>
                        <option value="4.0">4.0</option>
                        <option value="5.0">5.0</option>
                    </select>
                    <br>
                    <label for="content" class="form-label">Explain Why You Gave It That Score:</label>
                    <br>
                    <textarea maxlength="1250" rows="8" cols="20" id="content" name="content" class="form-input" required></textarea>
                    <br>
                    <div class="form-buttons-container">
                        <div class="write_review_cancel_button cancel-button">Cancel</div>
                        <input type="submit" class="submit-button">
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}