{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Find a Route {% endblock %}
{% block content %}
    <!-- SEARCH FORM START -->
    <div class="search-form-container">
        <img src="{% static 'images/search-image.jpeg' %}" alt="" class="search-image">
            <form action="/route" class="search-form">
                <div class="climb-container">
                    <label for="location" class="route-search-label">Where do you want to climb?</label>
                    <br>
                    <input type="text" id="location" name="location" required class="search-location-input">
                </div>
                <div class="min-difficulty-container">
                    <label for="min-difficulty" class="route-search-label">Min Difficulty</label>
                    <br>
                    <select id="min-difficulty" name="min-difficulty" class="search-min-diff-input">
                        <option value="5.0">5.0</option>
                        <option value="5.1">5.1</option>
                        <option value="5.2">5.2</option>
                        <option value="5.3">5.3</option>
                        <option value="5.4">5.4</option>
                        <option value="5.5">5.5</option>
                        <option value="5.6">5.6</option>
                        <option value="5.7">5.7</option>
                        <option value="5.8">5.8</option>
                        <option value="5.9">5.9</option>
                        <option value="5.10">5.10</option>
                        <option value="5.11">5.11</option>
                        <option value="5.12">5.12</option>
                        <option value="5.13">5.13</option>
                        <option value="5.14">5.14</option>
                        <option value="5.15">5.15</option>
                    </select>
                </div>
                <div class="max-difficulty-container">
                    <label for="max-difficulty" class="route-search-label">Max Difficulty</label>
                    <br>
                    <select id="max-difficulty" name="max-difficulty" class="search-max-diff-input">
                        <option value="5.0">5.0</option>
                        <option value="5.1">5.1</option>
                        <option value="5.2">5.2</option>
                        <option value="5.3">5.3</option>
                        <option value="5.4">5.4</option>
                        <option value="5.5">5.5</option>
                        <option value="5.6">5.6</option>
                        <option value="5.7">5.7</option>
                        <option value="5.8">5.8</option>
                        <option value="5.9">5.9</option>
                        <option value="5.10">5.10</option>
                        <option value="5.11">5.11</option>
                        <option value="5.12">5.12</option>
                        <option value="5.13">5.13</option>
                        <option value="5.14">5.14</option>
                        <option value="5.15">5.15</option>
                    </select>
                </div>
                <div class="max-pitches-container">
                    <label for="max-pitches" class="route-search-label">Max Pitches</label>
                    <br>
                    <select id="max-pitches" name="max-pitches" class="search-pitch-input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10+</option>
                    </select>
                </div>
                <input type="submit" class="submit-search-button" value="Find Routes">
            </form>
        </img>
    </div>
    <!-- SEARCH FORM END -->
    <!-- ROUTE SEARCH RESULTS START -->
    <div class="route-results-container">
        <div class="route-results-header">
            {% if route_list %}
                <h3 class="route-results-header-text">Showing {{ route_list.count }} Route(s)</h3>
            {% else %}
                <h3 class="route-results-header-text">No Routes Found</h3>
            {% endif %}
            <div class="results-sort-by-container">
                <div class="sort-by-text">Sort by:</div>
                <!-- <div class="route-results-button">Reviews</div> -->
                <select class="route-results-button">
                    <option value="default">Select</option>
                    <option value="diff" class="route-sort-option sort-option">Difficulty</option>
                    <option value="pitch" class="route-sort-option sort-option">Pitch</option>
                    <option value="new" class="route-sort-option sort-option">Newest</option>
                </select>
            </div>
        </div>
        <!-- LIST OF ROUTES -->
        <div class="routes-list">
            {% for route in route_list %}
                <div class="individual-route-card-container">
                    <div class="route-card-information-container">
                        <h3 class="route-card-name">{{ route.name }}</h3>
                        <div class="route-card-review-container">
                            <p class="route-card-reviews-text">{{ route.review.count }} Reviews</p>
                        </div>
                        <p class="posted_time">Posted: {{ route.created_at|naturaltime }}</p>
                        <div class="route-card-location-view">
                            <p class="route-card-location-text">Located: {{ route.location }}</p>
                            <a href="{% url 'route_page' route.pk %}" class="view-route-button-link"><div class="view-route-button">View Route</div></a>
                        </div>
                        <div class="route-card-misc-info">
                            <p class="route-card-misc-info-text">Difficulty: <b>{{ route.difficulty }}</b></p>
                            <p class="route-card-misc-info-text">Pitches: <b>{{ route.pitch }}</b></p>
                            <p class="route-card-misc-info-text">Type: <b>{{ route.climb_type }}</b></p>
                        </div>
                    </div>
                    {% if route.url != "False" %}
                        <img src="{{ route.url }}" alt="" class="route-card-image">
                    {% else %}
                        <img src="{% static 'images/route-image.jpg' %}" alt="" class="route-card-image">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- ROUTE SEARCH RESULTS END -->
    <div class="add-route-link-container">
        <p class="add-route-link-text">Couldn't Find a route? Wanna contribute?</p>
        {% if user.is_authenticated %}
            <a href="{% url 'create_route' %}">
                <div class="route-page-create-route-button">Create Route</div>
            </a>
        {% else %}
            <a href="{% url 'signup' %}">
                <div class="route-page-create-route-button">Create Account</div>
            </a>
        {% endif %}
    </div>
{% endblock %}