/* UNIVERSAL VARIABLES START */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700;900&family=Merriweather:wght@300;400;700&family=Overpass:wght@300;400;700&display=swap');

/* UNIVERSAL VARIABLES END */
:root {
    /* Main Fonts */
    --font-maven: 'Maven Pro', sans-serif;
    --font-merriweather: 'Merriweather', serif;
    --font-overpass: 'Overpass', sans-serif;

    /* Main Colors */
    --page-bg: #F9F9F9;
    --page-bg-darker: #dfdfdf;
    --page-main-color: #2E8B57;
    --page-main-color-darker: #246e44;
    --main-button-color: #118DDA;
    --main-button-color-darker: #0f77b8;
    --cancel-button-color: #A8A8A8;
    --red-button-color: #FF0000;
}
/* UNIVERSAL STYLING START */
    body {
        margin: 0;
        background-color: var(--page-bg);
    }

    .show {
        display: block;
    }
    
    .no-show {
        display: none;
    }

    /* NAVBAR STYLING START */
    .navbar-container {
        padding: 15px 25px 15px 25px;
        display: grid;
        grid-template-columns: 33% 67%;
        width: auto;
        border-bottom: 1px solid black;
    }

    .navbar-link {
        text-decoration: none;
    }

    .navbar-links-container {
        float: right;
        display: inline-flex;
        justify-content: end;
        align-items: center;
    }

    .navbar-logo-link {
        text-decoration: none;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }

    .navbar-logo-container {
        display: inline-flex;
    }

    .NextRoute-Logo-Text {
        color: var(--page-main-color);
        font-family: var(--font-maven);
        font-weight: bold;
        font-size: clamp(16px, 2.5vw, 20px);
        margin: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 100%;
    }

    .navbar-logo-image {
        height: 75px;
        width: auto;
        position: absolute;
        top: -6px;
        left: 128px;
    }
    
    .navbar-button {
        text-align: center;
        border: 3px solid black;
        margin-left: 35px;
        height: 40px;
        width: clamp(112px, 17.6vw, 144px);
        font-size: clamp(14px, 2.2vw, 18px);
        line-height: 40px;
        border-radius: 10px;
        font-family: var(--font-maven);
        font-weight: bold;
    }

    .green-button {
        background-color: var(--page-main-color);
        color: var(--page-bg);
        border-color: var(--page-main-color);
    }

    .green-button:hover {
        background-color: var(--page-main-color-darker);
        border-color: var(--page-main-color-darker);
    }

    .white-button {
        background-color: var(--page-bg);
        color: var(--page-main-color);
        border-color: var(--page-main-color);
    }

    .white-button:hover {
        background-color: var(--page-bg-darker);
    }

    @media only screen and (max-width: 800px) {
        .navbar-logo-image {
            height: 9.5vw;
            width: auto;
            position: absolute;
            left: 16.3vw;
            top: -7px;
        }
    }
    /* NAVBAR STYLING END */

    /* FOOTER STYLING START */
    .footer-container {
        background-color: black;
        color: var(--page-bg);
        text-align: center;
        font-family: var(--font-merriweather);
        font-size: 13px;
    }

    .footer-line {
        width: 90%;
    }

    .footer-app-name {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0;
        height: 100%;
        padding-top: 18px;
    }

    .footer-trademark-text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        height: 100%;
        padding-bottom: 18px;
    }
    /* FOOTER STYLING END */

    /* POPUP FORM STYLING START */
    /* POPUP FORM STYLING END */
/* UNIVERSAL STYLING END */

/* SPLASH PAGE STYLING START */
.about-section-container {
    display: inline-flex;
    justify-content: space-evenly;
    padding: clamp(25px, 6vw, 50px) clamp(25px, 5%, 50px);
    width: 90%;
    margin-bottom: 10px;
    animation: appear 2s linear 1;
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.about-section-item {
    width: 26%;
    height: 100%;
}

.about-section-item-header {
    color: var(--page-main-color);
    font-family: var(--font-maven);
    font-weight: bold;
    font-size: clamp(20px, 3vw, 40px);
    margin: 10px 0;
    letter-spacing: 3px;
}

.about-section-item-text {
    font-family: var(--font-overpass);
    line-height: 30px;
    font-size: 18px;
}
/* SPLASH PAGE STYLING END */

/* PROFILE PAGE STYLING START */
/* PROFILE PAGE STYLING END */

/* SEARCH PAGE STYLING START */
/* SEARCH PAGE STYLING END */

/* EDIT ROUTE PAGE STYLING START */
/* EDIT ROUTE PAGE STYLING END */

/* CREATE ROUTE PAGE STYLING START */
/* CREATE ROUTE PAGE STYLING END */

/* ROUTE PAGE STYLING START */
.route-page-container {
    width: clamp(20px, 80%, 1200px);
    margin: 80px auto;
    border: 1px solid rgb(148, 148, 148);
}

.route-page-image-container {
    position: relative;
    margin-bottom: -4px;
}

.route-page-image {
    width: 100%;
    height: auto;
}

.route-page-image-header {
    color: var(--page-bg);
    position: absolute;
    display: inline-block;
    z-index: 2;
    bottom: clamp(30px, 3vw, 50px);
    left: clamp(15px, 4.5vw, 50px);
    animation: appear 1.5s linear 1;
}

.route-page-route-name {
    margin: 0;
    font-size: clamp(25px, 3vw, 35px);
    font-family: var(--font-merriweather);
    letter-spacing: 4px;
}

.route-page-route-username {
    margin: 0;
    font-size: clamp(10px, 2vw, 20px);
    font-family: var(--font-maven);
    letter-spacing: 3px;
}

.route-details-description-container {
    display: grid;
    grid-template-columns: 35% 65%;
}

.route-details-section {
    border-right: 0.5px solid var(--page-main-color);
}

.route-details-description-review-header {
    padding: 15px 0 15px 20px;
    font-family: var(--font-merriweather);
    font-weight: bold;
    font-size: clamp(15px, 3vw, 20px);
    background-color: var(--page-main-color);
    color: var(--page-bg)
}

.route-details-text-container {
    padding-left: 20px;
    padding-right: 10px;
    font-size: clamp(10px, 5vw, 17px);
    font-family: var(--font-maven);
}

.route-details-text {
    margin-top: 13px;
}

.route-details-text-logged-out {
    margin-bottom: 25px;
}

.edit-route-button-link {
    text-decoration: none;
}

.edit-route-button {
    background-color: var(--main-button-color);
    color: var(--page-bg);
    font-family: var(--font-maven);
    height: 30px;
    width: 120px;
    font-size: clamp(10px, 5vw, 15px);
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 25px;
}

.edit-route-button:hover {
    background-color: var(--main-button-color-darker);
}

.route-description-section {
    border-left: 0.5px solid var(--page-main-color);
}

.route-description-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    margin-top: 13px;
    font-family: var(--font-merriweather);
    font-size: clamp(10px, 4vw, 14px);
    word-spacing: 1.5px;
    line-height: 28px;
}

.route-reviews-button-score-container {
    padding: 30px 50px 20px 20px;
}

.review-button {
    float: right;
    height: 35px;
    width: 150px;
    text-align: center;
    line-height: 35px;
    font-family: var(--font-maven);
    font-weight: bold;
    color: var(--page-bg);
    border-radius: 5px;
    font-size: 1.1rem;
}

.review-button-colored {
    background-color: var(--main-button-color);
}

.review-button-colored:hover {
    background-color: var(--main-button-color-darker);
}

.review-button-gray {
    background-color: var(--cancel-button-color);
}

.individual-review {
    margin: 25px 20px 0px 20px;
    border-top: 0.5px solid var(--page-main-color);
}

.review-top-section {
    margin-top: 25px;
    display: inline-flex;
}

.review-user-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.review-top-section-information {
    margin-left: 20px;
}

.review-username {
    margin: 0 0 7px 0;
    font-size: clamp(15px, 2vw, 18px);
    font-family: var(--font-maven);
    font-weight: bold;
}

.review-top-section-rating-posted {
    display: inline-flex;
}

.review-posted-time {
    margin-left: 20px;
    font-size: clamp(12px, 2vw, 15px);
    word-spacing: -4px;
    color: #666666;
    font-weight: bold;
}

.review-content {
    margin-top: 15px;
    font-family: var(--font-overpass);
    font-size: clamp(14px, 3vw, 15px);
    font-weight: 500;
}

.review-line-break {
    border-top: 1px solid var(--page-main-color);
    width: calc(100% - 40px);
    margin-top: 25px;
}
/* ROUTE PAGE STYLING END */