{% extends 'base.html' %}
{% block title %} Next Route - New Route {% endblock %}
{% block content %}
    <div>
        <!-- <form method="post">

            {{form.as_p}}
            <input type="submit" value="submit">
        </form> -->
        <form method="post" url="{% url 'create_route' %}">
            {% csrf_token %}
            <label for="name">Route Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
            <label for="difficulty">What's the difficulty?</label>
            <select id="difficulty" name="difficulty" required>
                <option value="5.0">5.0</option>
                <option value="5.1">5.1</option>
                <option value="5.2">5.2</option>
                <option value="5.3">5.3</option>
                <option value="5.4">5.4</option>
                <option value="5.5">5.5</option>
                <option value="5.6">5.6</option>
                <option value="5.7">5.7</option>
                <option value="5.8">5.8</option>
                <option value="5.9">5.9</option>
                <option value="5.10a">5.10a</option>
                <option value="5.10b">5.10b</option>
                <option value="5.10c">5.10c</option>
                <option value="5.10d">5.10d</option>
                <option value="5.11a">5.11a</option>
                <option value="5.11b">5.11b</option>
                <option value="5.11c">5.11c</option>
                <option value="5.11d">5.11d</option>
                <option value="5.12a">5.12a</option>
                <option value="5.12b">5.12b</option>
                <option value="5.12c">5.12c</option>
                <option value="5.12d">5.12d</option>
                <option value="5.13a">5.13a</option>
                <option value="5.13b">5.13b</option>
                <option value="5.13c">5.13c</option>
                <option value="5.13d">5.13d</option>
                <option value="5.14a">5.14a</option>
                <option value="5.14b">5.14b</option>
                <option value="5.14c">5.14c</option>
                <option value="5.14d">5.14d</option>
                <option value="5.15a">5.15a</option>
                <option value="5.15b">5.15b</option>
                <option value="5.15c">5.15c</option>
                <option value="5.15d">5.15d</option>
            </select>
            <label for="pitch">Number of Pitches</label>
            <select id="pitch" name="pitch">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10+</option>
            </select>
            <select name="climb_type" id="climb_type">
                <option value="Ice">Ice</option>
                <option value="Rock">Rock</option>
                <option value="Mixed">Mixed</option>
            </select>
            <label for="description">Briefly Describe Route</label>
            <textarea rows="4" cols="20" id="description" name="description" required>
            </textarea>
            <label for="image">Upload Image:</label>
            <input type="file" id="image" name="image">
            <input type="submit">
        </form>
    </div>
{% endblock %}