{% extends 'base.html' %}
{% load static %}
{% block title %} Next Route - New Route {% endblock %}
{% block content %}
<img src="{% static 'images/route-page.jpg' %}" alt="" class="page-background-image">
    <div class="form-popup route-form route-form-first-half">
        <div class="form-header">Create Route</div>
        <form method="post" url="{% url 'create_route' %}" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name" class="form-label">Route Name:</label>
            <br>
            <input type="text" id="name" name="name" class="form-input" required>
            <br>
            <label for="location" class="form-label">Location:</label>
            <br>
            <input type="text" id="location" name="location" class="form-input" required>
            <br>
            <label for="difficulty" class="form-label">What's the difficulty?</label>
            <br>
            <select id="difficulty" name="difficulty" class="form-input" required>
                <option value="5.0">5.0</option>
                <option value="5.1">5.1</option>
                <option value="5.2">5.2</option>
                <option value="5.3">5.3</option>
                <option value="5.4">5.4</option>
                <option value="5.5">5.5</option>
                <option value="5.6">5.6</option>
                <option value="5.7">5.7</option>
                <option value="5.8">5.8</option>
                <option value="5.9">5.9</option>
                <option value="5.10a">5.10a</option>
                <option value="5.10b">5.10b</option>
                <option value="5.10c">5.10c</option>
                <option value="5.10d">5.10d</option>
                <option value="5.11a">5.11a</option>
                <option value="5.11b">5.11b</option>
                <option value="5.11c">5.11c</option>
                <option value="5.11d">5.11d</option>
                <option value="5.12a">5.12a</option>
                <option value="5.12b">5.12b</option>
                <option value="5.12c">5.12c</option>
                <option value="5.12d">5.12d</option>
                <option value="5.13a">5.13a</option>
                <option value="5.13b">5.13b</option>
                <option value="5.13c">5.13c</option>
                <option value="5.13d">5.13d</option>
                <option value="5.14a">5.14a</option>
                <option value="5.14b">5.14b</option>
                <option value="5.14c">5.14c</option>
                <option value="5.14d">5.14d</option>
                <option value="5.15a">5.15a</option>
                <option value="5.15b">5.15b</option>
                <option value="5.15c">5.15c</option>
                <option value="5.15d">5.15d</option>
            </select>
            <br>
            <div class="continue-button">Continue</div>
    </div>
            <div class="form-popup second-form-half no-show">
                <div class="form-header form-header-second-form">Create Route</div>
                <div class="form form-part-2">
                    <label for="pitch" class="form-label">Number of Pitches</label>
                    <br>
                    <select id="pitch" name="pitch" class="form-input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10+</option>
                    </select>
                    <br>
                    <label for="climb_type" class="form-label">Climb Type</label>
                    <br>
                    <select name="climb_type" id="climb_type" class="form-input">
                        <option value="Ice">Ice</option>
                        <option value="Rock">Rock</option>
                        <option value="Mixed">Mixed</option>
                    </select>
                    <br>
                    <label for="description" class="form-label">Briefly Describe Route</label>
                    <br>
                    <textarea class="form-input" rows="4" cols="20" id="description" name="description" required></textarea>
                    <br>
                    <label for="image" class="form-label">Upload Image:</label>
                    <br>
                    <input class="form-input" type="file" id="image" name="image">
                    <br>
                    <div class="form-buttons-container">
                        <div class="cancel-button route-go-back">Go Back</div>
                        <input type="submit" class="submit-button">
                    </div>
                </div>
            </div>
        </form>
{% endblock %}