{% extends 'base.html' %}
{% block title %} Next Route - {{ route.name }} {% endblock %}
{% block content %}
    <div class="route-page-contianer">
        <div class="route-information-container">
            <div class="route-page-image-container">
                {% if route.image %}
                {% endif %}
                <div>
                    <h4>{{ route.name }}</h4>
                    <p>Shared by {{ route.user.username }}</p>
                </div>
            </div>
            <div class="route-details-section">
                <div>Route Details:</div>
                <div>
                    <div>Location: {{ route.location }}</div>
                    <div>difficulty: {{ route.difficulty }}</div>
                    <div>Type of Climb: {{ route.climb_type }}</div>
                    <div>Pitches: {{ route.pitch }}</div>
                    {% if user.is_authenticated and user.pk == route.user.pk %}
                        <a href="{% url 'route_update' route.pk %}"><div>Edit Route</div></a>
                    {% endif %}
                </div>
            </div>
            <div class="route-description-section">
                <div>Description:</div>
                <div>{{ route.description }}</div>
            </div>
        </div>
        <div class="route-review-container">
            <div>Route Reviews:</div>
            <div>
                <p>4 out of 5 Stars</p>
                {% if user.is_authenticated %}
                    <div class="write-review-button">Write a Review</div>
                {% else %}
                    <a href="{% url 'signup' %}"><div>Write a Review</div></a>
                {% endif %}
            </div>
            <div class="review-list-container">
                {% for review in reviews %}
                    <div class="individual-review">
                        {% if review.user.image %}
                            <p>Here's the image</p>
                        {% endif %}
                        <h5>{{ review.user.username }}</h5>
                        <div>Rating</div>
                        <div>Posted 1 Hour Ago</div>
                        <div>{{ review.content }}</div>
                        <div>
                            {% if user.is_authenticated and review.user.username == user.username %}
                                <p class="edit-review-button">Edit Review</p>
                                <p class="delete-review-button">Delete Review</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="edit-review-form no-show">
                        <form method="post" action="/route/{{ route.pk }}/review/{{ review.pk }}/update/">
                            {% csrf_token %}
                            <label for="rating">Rating:</label>
                            <select id="rating" name="rating" required>
                                {% if review.rating == 0.5 %}
                                    <option value="0.5" selected>0.5</option>
                                {% else %}
                                    <option value="0.5">0.5</option>
                                {% endif %}

                                {% if review.rating == 1.0 %}
                                    <option value="1.0" selected>1.0</option>
                                {% else %}
                                    <option value="1.0">1.0</option>
                                {% endif %}

                                {% if review.rating == 1.5 %}
                                    <option value="1.5" selected>1.5</option>
                                {% else %}
                                    <option value="1.5">1.5</option>
                                {% endif %}

                                {% if review.rating == 2.0 %}
                                    <option value="2.0" selected>2.0</option>
                                {% else %}
                                    <option value="2.0">2.0</option>
                                {% endif %}

                                {% if review.rating == 2.5 %}
                                    <option value="2.5" selected>2.5</option>
                                {% else %}
                                    <option value="2.5">2.5</option>
                                {% endif %}

                                {% if review.rating == 3.0 %}
                                    <option value="3.0" selected>3.0</option>
                                {% else %}
                                    <option value="3.0">3.0</option>
                                {% endif %}

                                {% if review.rating == 3.5 %}
                                    <option value="3.5" selected>3.5</option>
                                {% else %}
                                    <option value="3.5">3.5</option>
                                {% endif %}

                                {% if review.rating == 4.0 %}
                                    <option value="4.0" selected>4.0</option>
                                {% else %}
                                    <option value="4.0">4.0</option>
                                {% endif %}

                                {% if review.rating == 4.5 %}
                                    <option value="4.5" selected>4.5</option>
                                {% else %}
                                    <option value="4.5">4.5</option>
                                {% endif %}

                                {% if review.rating == 5.0 %}
                                    <option value="5.0" selected>5.0</option>
                                {% else %}
                                    <option value="5.0">5.0</option>
                                {% endif %}
                            </select>
                            <label for="content">Explain Why You Gave It That Score:</label>
                            <textarea rows="4" cols="20" id="content" name="content" value= required>
                                {{ review.content }}
                            </textarea>
                            <input type="submit">
                        </form>
                    </div>
                    <div class="delete-review-form-container no-show">
                        <div>
                            <div></div>
                            <p>Delete Review?</p>
                            <p>This can't be undone</p>
                            <div class="delete-review-cancel-button">Cancel</div>
                            <a href="{% url 'review_delete' route.pk review.pk %}"><div>Delete</div></a>
                        </div>
                    </div>
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="route-review-form-container no-show">
        <form method="post" action="/route/{{ route.pk }}/review/new/">
            {% csrf_token %}
            <label for="rating">Rating:</label>
            <select id="rating" name="rating" required>
                <option value="0.5">0.5</option>
                <option value="1.0">1.0</option>
                <option value="1.5">1.5</option>
                <option value="2.0">2.0</option>
                <option value="2.5">2.5</option>
                <option value="3.0">3.0</option>
                <option value="3.5">3.5</option>
                <option value="4.0">4.0</option>
                <option value="4.5">4.5</option>
                <option value="5.0">5.0</option>
            </select>
            <label for="content">Explain Why You Gave It That Score:</label>
            <textarea rows="4" cols="20" id="content" name="content" required>
            </textarea>
            <input type="submit">
        </form>
    </div>
{% endblock %}