{% extends 'base.html' %}
{% block title %} Find a Route {% endblock %}
{% block content %}
    <form action="/route">
        <div>
            <label for="location">Where do you want to climb?</label>
            <input type="text" id="location" name="location" required>
            <label for="min-difficulty">Min Difficulty</label>
            <select id="min-difficulty" name="min-difficulty">
                <option value="5.0">5.0</option>
                <option value="5.1">5.1</option>
                <option value="5.2">5.2</option>
                <option value="5.3">5.3</option>
                <option value="5.4">5.4</option>
                <option value="5.5">5.5</option>
                <option value="5.6">5.6</option>
                <option value="5.7">5.7</option>
                <option value="5.8">5.8</option>
                <option value="5.9">5.9</option>
                <option value="5.10">5.10</option>
                <option value="5.11">5.11</option>
                <option value="5.12">5.12</option>
                <option value="5.13">5.13</option>
                <option value="5.14">5.14</option>
                <option value="5.15">5.15</option>
            </select>
            <label for="max-difficulty">Max Difficulty</label>
            <select id="max-difficulty" name="max-difficulty">
                <option value="5.0">5.0</option>
                <option value="5.1">5.1</option>
                <option value="5.2">5.2</option>
                <option value="5.3">5.3</option>
                <option value="5.4">5.4</option>
                <option value="5.5">5.5</option>
                <option value="5.6">5.6</option>
                <option value="5.7">5.7</option>
                <option value="5.8">5.8</option>
                <option value="5.9">5.9</option>
                <option value="5.10">5.10</option>
                <option value="5.11">5.11</option>
                <option value="5.12">5.12</option>
                <option value="5.13">5.13</option>
                <option value="5.14">5.14</option>
                <option value="5.15">5.15</option>
            </select>
            <label for="max-pitches">Max Pitches</label>
            <select id="max-pitches" name="max-pitches">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10+</option>
            </select>
            <input type="submit">
        </div>
    </form>
    <div>
        {% if route_list %}
            {% for route in route_list %}
                <div>
                    {{ route.difficulty }}
                </div>
            {% endfor %}
        {% else %}
            <div>
                No Routes Found
            </div>
        {% endif %}
    </div>
{% endblock %}