{% extends 'base.html' %}
{% block title %} Welcome to Next Route {% endblock %}
{% block content %}
    <div class="about-section-container">
        <div class="about-section-item">
            <h3 class="about-section-item-header">Find Routes</h3>
            <p class="about-section-item-text">We make finding routes easy so you can focus on what matters most: mastering routes</p>
        </div>
        <div class="about-section-item">
            <h3 class="about-section-item-header">Share Routes</h3>
            <p class="about-section-item-text">Found a new route or built a new route? With Next Route, you can share with the world with ease.</p>
        </div>
        <div class="about-section-item">
            <h3 class="about-section-item-header">Review Routes</h3>
            <p class="about-section-item-text">See what the community is saying about a route and post your own thoughts with a review.</p>
        </div>
    </div>
{% endblock %}