{% extends 'base.html' %}
{% load static %}
{% block title %} Welcome to Next Route {% endblock %}
{% block content %}
    <!-- SEARCH FORM START -->
    <div class="search-form-container">
        <img src="{% static 'images/search-image.jpeg' %}" alt="" class="search-image">
            <form action="/route" class="search-form">
                <div class="climb-container">
                    <label for="location" class="route-search-label">Where do you want to climb?</label>
                    <br>
                    <input type="text" id="location" name="location" required class="search-location-input">
                </div>
                <div class="min-difficulty-container">
                    <label for="min-difficulty" class="route-search-label">Min Difficulty</label>
                    <br>
                    <select id="min-difficulty" name="min-difficulty" class="search-min-diff-input">
                        <option value="5.0">5.0</option>
                        <option value="5.1">5.1</option>
                        <option value="5.2">5.2</option>
                        <option value="5.3">5.3</option>
                        <option value="5.4">5.4</option>
                        <option value="5.5">5.5</option>
                        <option value="5.6">5.6</option>
                        <option value="5.7">5.7</option>
                        <option value="5.8">5.8</option>
                        <option value="5.9">5.9</option>
                        <option value="5.10">5.10</option>
                        <option value="5.11">5.11</option>
                        <option value="5.12">5.12</option>
                        <option value="5.13">5.13</option>
                        <option value="5.14">5.14</option>
                        <option value="5.15">5.15</option>
                    </select>
                </div>
                <div class="max-difficulty-container">
                    <label for="max-difficulty" class="route-search-label">Max Difficulty</label>
                    <br>
                    <select id="max-difficulty" name="max-difficulty" class="search-max-diff-input">
                        <option value="5.0">5.0</option>
                        <option value="5.1">5.1</option>
                        <option value="5.2">5.2</option>
                        <option value="5.3">5.3</option>
                        <option value="5.4">5.4</option>
                        <option value="5.5">5.5</option>
                        <option value="5.6">5.6</option>
                        <option value="5.7">5.7</option>
                        <option value="5.8">5.8</option>
                        <option value="5.9">5.9</option>
                        <option value="5.10">5.10</option>
                        <option value="5.11">5.11</option>
                        <option value="5.12">5.12</option>
                        <option value="5.13">5.13</option>
                        <option value="5.14">5.14</option>
                        <option value="5.15">5.15</option>
                    </select>
                </div>
                <div class="max-pitches-container">
                    <label for="max-pitches" class="route-search-label">Max Pitches</label>
                    <br>
                    <select id="max-pitches" name="max-pitches" class="search-pitch-input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10+</option>
                    </select>
                </div>
                <input type="submit" class="submit-search-button" value="Find Routes">
            </form>
        </img>
    </div>
    <!-- SEARCH FORM END -->
    <div class="about-section-container">
        <div class="about-section-item">
            <h3 class="about-section-item-header">Find Routes</h3>
            <p class="about-section-item-text">We make finding routes easy so you can focus on what matters most: mastering routes</p>
        </div>
        <div class="about-section-item">
            <h3 class="about-section-item-header">Share Routes</h3>
            <p class="about-section-item-text">Found a new route or built a new route? With Next Route, you can share with the world with ease.</p>
        </div>
        <div class="about-section-item">
            <h3 class="about-section-item-header">Review Routes</h3>
            <p class="about-section-item-text">See what the community is saying about a route and post your own thoughts with a review.</p>
        </div>
    </div>
{% endblock %}